<h4 class="ui center aligned icon medium header">
  <i class="blue circular comments outline icon"></i>
  Let chat!
</h4>

<div class="ui two column grid">

  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content" id="messages">
        <div class="ui feed" id="message-container">
          <%= render @messages %>
        </div>
      </div>
      <div class="extra content">
        <%= form_with model: @message,id: 'input-form', class: 'ui reply form', url: message_path, remote: true do |f| %>
          <div class="field">
            <div class="ui fluid icon input">
              <%= f.text_field :body, placeholder: "Enter message..." %>
              <%= f.button '<i class="bordered inverted blue edit icon"></i>'.html_safe %>
            </div>
          </div>
          <% end %>
      </div>
    </div>
  </div>

  <div class="four wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui inverted vertical menu">
          <a class="teal item active">
            Inbox
            <div class="ui teal left pointing label">1</div>
          </a>
          <a class="item">
            Spam
            <div class="ui label">51</div>
          </a>
          <a class="item">
            Updates
            <div class="ui label">1</div>
          </a>R
          <div class="item">
            <div class="ui transparent icon input">
              <input type="text" placeholder="Search mail...">
              <i class="search icon"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

